@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family:sans-serif ;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-red-400
}

.hamburger-line {
    @apply w-[30px] h-[3px] my-2 block bg-black;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

